*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color:rgb(217, 225, 231);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1{
    color:rgb(76, 65, 225);
    text-align:center;
    margin-bottom: 20px;
}   

.box{
    /* height:400px; */
    width: 400px;
    background-color:white;
    padding: 60px;
    border-radius: 10px;
}

label{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 5PX;
}

input{
    width:100%;
    height:30px;
    padding: 10px;
    font-size: 20px;
    margin-bottom:20px ;
    border-radius: 10px;
}
